html {
  height: 100%;
}

body {
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  color: #2f2e41;
  background-image: url('texture.png');
  background-repeat: repeat;
}

header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  padding: 1em;
  margin: 1em;
  
  border-bottom: 0.2px solid #2f2e41;
}

.logo {
  display: flex;
  flex-direction: column;
}

.container_name {
  display: flex;
}

.name_letter {
  font-size: 2em;
  color: #ff6347;
}

.container_specialisation {
  display: flex;
  justify-content: space-around;
}

.specialisation_letter {
  color: #2f2e41;
}

.header_nav {
  display: flex;
}

.header_nav_link {
  margin: 0 2em 0 2em;
  color: #2f2e41;
}

.header_nav_link:hover {
  color: #ff6347;
}


main {
  width: 100%;
  flex: 2 2 auto;

  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.container_images {
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.box_image {
  font-size: 2em;
  height: 10em;
  width: 10em;
  min-width: 35%;
  margin: 1em;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box_image>img {
  height: 100%;
  width: auto;
}

.box_image>a {
  font-size: 0.8em;
  color: #2f2e41;

  align-self: flex-end;
}

.box_image>a>span {
  color: #ff6347;
}

.box_image>a:hover {
  color: #ff6347;
}

.box_image>a:hover>span {
  
  display: none;
}

aside {
  font-size: 1.3em;

  position: fixed;
  top:25%;
  width: 3%;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  padding: 1em 0.5em;
  opacity: 0.2;
  background-color: #2f2e41;
  border-radius: 0 25px;
}

aside:hover {
  opacity: 0.8;
}

aside>a {
  width: 80%;
  margin-bottom: 2em;
}

aside>a:hover>img {
  opacity: 1;
}

aside>a>img {
  width: 100%;
  opacity: 0.5;
}

footer {
  font-size: 1em;
  color: #f2f2f2;
  
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;

  padding: 0.5em 1em 0.5em 0;
  
  background-color: #2f2e41;
  border-top: 0.2px solid #2f2e41;
}
