html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  background-image: url('texture.png');
  background-repeat: repeat;
  
}

header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  padding: 1em;
  margin: 1em;
  
  border-bottom: 0.2px solid rgb(75, 74, 74);
}

.logo {
  display: flex;
  flex-direction: column;
}

.logo_name_soname {
  display: flex;
}

.logo_name_soname_letter {
  font-size: 2em;
  color: orangered;
}

.logo_specialisation {
  display: flex;
  justify-content: space-around;
}

.header_nav {
  display: flex;
}

.header_nav_link {
  margin: 0 2em 0 2em;
}

main {
  width: 100%;
  flex-grow: 2;

  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.conteinerForButtons {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.button {
  font-size: 2em;
  height: 10em;
  width: 16.2em;
  margin: 1em;
  color: inherit;
  background-color: transparent;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.work {
  background: url(work.webp) 100% 100% no-repeat;
  background-size: cover;
  
}

footer {
  font-size: 1.2em;
  display: flex;

  justify-content: flex-end;
  flex-wrap: wrap;

  padding: 1em;
  margin: 1em;
  
  border-top: 0.2px solid rgb(75, 74, 74);
}
