html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  background-color: rgba(211, 200, 200, 0.959);
  
}


header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  padding: 1em;
  margin: 1em;
  
  border-bottom: 0.2px solid rgb(75, 74, 74);
}

.logo {
  display: flex;
}

.logo_letter {
  font-size: 2em;
  color: orangered;

}

.header_nav {
  display: flex;
}

.header_nav_link {
  margin: 0 2em 0 2em;
}

main {
  width: 95%;
  flex-grow: 2;

  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.intro {
  flex-grow: 2;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  padding: 1em; 
}

.intro_title>p {
  font-size: 2em;
  margin: 0.5em 1em 1em 4em;
}

.intro_buttons {
  display: flex;
  flex-direction: column;
}

.intro_buttons>button {
  font-size: 2em;
  height: 2.5em;
  margin: 1em;
  color: inherit;
  background-color: transparent;
}

.intro_description {
  align-self: center;

  margin-top: 1em;
}

.intro_description>p {
  font-size: 1.5em;
  margin: 1.2em;
}

.intro_description>p>a {
  font-style: italic;
}

.chat {
  flex-grow: 1;
  height: 90%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  border: 0.5px solid  rgb(75, 74, 74);
}

.image_container {
  
}

.image>img {
  width: 100%;
  height: auto;

  position: relative;
  top: 0;
  left: 0;

}

footer {
  font-size: 1.2em;
  display: flex;

  justify-content: flex-end;
  flex-wrap: wrap;

  padding: 1em;
  margin: 1em;
  
  border-top: 0.2px solid rgb(75, 74, 74);
}
